:root{
    --hf: #EBF5EE;
    --bg: #;
    --head: #283044;
    --nav: #78A1BB;
    --txt: #3D1800;
    --btn: #F2A365;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside{
    width: 250px;
    height: 100vh;
    background-color: var(--nav);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
ul{
    list-style: none;
    margin-top: 50px;
    padding: 0;
    color: var(--hf);
    font-size: 14px;
}
a{
    text-decoration: none;
    color: var(--hf);
}