:root{
    --hf: #EBF5EE;
    --bg: #;
    --head: #283044;
    --nav: #78A1BB;
    --txt: #3D1800;
    --btn: #F2A365;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
aside{
    width: 250px;
    height: 100vh;
    background-color: var(--head);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
ul{
    list-style: none;
    margin-top: 50px;
    padding: 0;
    color: var(--hf);
    font-size: 14px;
    
}
a{
    text-decoration: none;
    color: var(--hf);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}
label{
    color: var(--hf)
}
input{
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid var(--nav);
    padding: 3px
}

.cards{
    margin-left: 300px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.content{
    padding: 20px;
}

a:hover{
    color: var(--btn);
}